// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #202020;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #2c2c2c;
$gray: #0E0000;
$light-gray: #F4F4F4;
$accent-color: #F5BB00;
$fill-color: #eae7e0;
$secondary-color:#3a3731;
$primary-color: #202020;
$tertiary-color-border: #aaa69f;
$tertiary-color: #d7d2c8;
