// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #273A42;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #8EA604;
$gray: #0E0000;
$light-gray: #F4F4F4;
$accent-color: #F5BB00;
$fill-color: #eae7e0;
$secondary-color:#3a3731;
