<h1>Doggie deals for your favorite fren</h1>


<h2>Have a look at our doggie deals!</h2>

<div>
 <% if user_signed_in? %>
    <%= link_to "My listing", my_listings_path %>
  <% end %>
</div>
<%= link_to "All Index", listings_path %>
