<h1>This is a home page</h1>



<div style="display: flex; justify-content: flex-start;">
  <% if user_signed_in? %>
    <%= link_to "My listing", my_listings_path, class: "btn btn-primary me-1" %>
  <% end %>
  <%= link_to "All Index", listings_path, class: "btn btn-primary me-1" %>
</div>
