<div class="my-container">

<div id="home-page-banner">
  <div id="home-page-spacer"></div>
  <div id="home-page-welcome">
    <h1>Doggie deals for </h1>
    <h1>your favorite fren!</h1>
  </div>
</div>


<h2>Have a look at our doggie deals!</h2>



  <div class="listing-container">
    <% @listings.each do |listing| %>

      <%= render listing %>

    <% end %>
  </div>
</div>
