<div class="index-container">
<h1>Browse All Dog-Deals (<%= @listings.count%>)</h1>

  <div class="listing-container" >
    <% @listings.each do |listing| %>

        <%= render listing %>

    <% end %>
  </div>

</div>
