<div class="page-container">
<h1>Browse All Dog-Deals (<%= @listings.count%>)</h1>
  <div class="index-container">
    <div class="listing-index-container" >
      <% @listings.each do |listing| %>

          <%= render listing %>

      <% end %>
    </div>
  </div>

</div>
