<div class="container">
<h1>This is the listing index page</h1>

  <div id="listings">

  <% @listings.each do |listing| %>

    <%= render listing %>
    <p>
      <%= link_to "Show this listing", listing %>
    </p>
  <% end %>
</div>

<%= link_to "New listing", new_listing_path %>
</div>

</div>
