
<div class="page-container">


  <div class="index-header">
    <%= link_to raw("<i class='fa-solid fa-circle-arrow-left back-button'></i>"), :back, class: "back-button"%>
    <h1>Manage Dog-Deals (<%= @listings.count%>)</h1>

  </div>

  <div class="index-container">
    <div class="listing-index-container", id="My_listings">
      <% @listings.each do |listing| %>

        <%= render listing %>
      <% end %>
    </div>
  </div>

</div>
