.account-settings-container {
  display: flex;
  padding: 50px;
  gap: 30px;

  justify-content: center;
  margin-top: 40px;
}

.account-settings-right {
  width: 950px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px 250px 50px 100px;

  h4 {
    color: $blue;
  }
}

.account-settings-left {
  display:flex;
  flex-direction: column;
  gap: 30px;
}

.account-settings-left #top {

  h3 {
    color: $blue;
  }

  a {
    padding-left: 20px;
    text-decoration: none;
    color: $blue;
  }

}

.account-settings-left #bottom {

  h4 {
    color: $blue;
    font-size: 2rem;
  }

  p {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    color: $blue;
  }

  a{
    text-decoration: none;
    font-family: Roboto;
    padding-left: 20px;
    color: $blue;
    font-size: 1rem;
  }

  button {
    padding: 10px 0px 0px 20px;
    background: none!important;
    border:none;
    color: rgb(179, 177, 177);
    font-size: 1rem;
  }
}
