#booking-card {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 0.1em solid $primary-color;
  box-shadow: 4px 4px 0px 0px $primary-color;
  background-color: $tertiary-color;
}

#booking-card-confirmed {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 0.1em solid $primary-color;
  box-shadow: 4px 4px 0px 0px $primary-color;
  background-color: $accent-color;
  color: $primary-color;
}

#booking-card-seller-confirmed {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 0.1em solid $primary-color;
  box-shadow: 4px 4px 0px 0px $primary-color;
  background-color: $tertiary-color-border;
  color: $primary-color;
}

.card-body-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 30px;
  align-items: flex-end;
}

#booking-btn {
  border: #F5BB00;
  border-radius: 5px;
  background-color: #F5BB00;
  color: #000000;
}

.card-body-left {
  flex: 3;
  padding: 20px 30px;
}

.link-text-color {
  color: #4d473a;
  text-decoration: none;
}

.view-details {
  text-decoration: none;
  color: $secondary-color;
}

.bookings-links {
  gap: 30px;
  a {text-decoration: none;
  }

}
