.index-header {
  display:flex;
  gap: 10px;
  align-items: center;
  padding-left: 150px;
}

.index-header a {
  display:flex;
  gap: 10px;
  font-size: 0.9rem;
}

.index-header h1 {
  padding: 0;
  margin: 0;
}
