.listing-card {
  display: flex;
  align-items: flex-end;
  width: 293px;
  height: 325px;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 2px #333;
  border: 1px solid black;
}

.listing-bottom {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: #e6dac9;
  height: 130px;
  width: 350px;
  // border-top: 0.2em solid #000000;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.listing-details-bottom {
  display:flex;
  justify-content: space-between;
}

.listing-details-bottom a.view-deal {
  background-color: #F5BB00;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  border-radius: 10px;
  color: #000000;
  border: 1px solid #777272;
  box-shadow: 2px 2px 0px .8px black;
}

.listing-details  {
  display:flex;
  justify-content: space-between;
}

.listing-prices  {
  display:flex;
  flex-direction: column;
  gap: 2px;
}

.listing-prices h5 {
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

.listing-prices p {
  font-size: 0.8rem;
  color: gray;
}

#listing-title {
  font-weight: 500;
}
