.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: $fill-color;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 1em 2em 1em 3em;
  border-top: 0.3em solid #F5BB00;
  border-bottom: 0.2em solid $primary-color;
  z-index: 3;
}

.font-change{
  font-size: 0.8rem;
  padding: 0.3em 2em 0.3em 3em;
  border-top: none;

  img {
    height: 30px;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-right {
  display: flex;
  gap: 1em;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: $primary-color;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: none;
  color: $accent-color;
}

.navbar a.dog-deal{
  text-decoration: none;
  color: #879297;
  font-size: 0.8em;
}



.navbar li {
  padding: 0px;
  list-style: none;
  color: #273A42;
}

.navbar li:hover {
  padding: 0px;
  list-style: none;
  color: #1e2e34;
}

.custom-input {
  background-color: transparent;
  padding: 5px;
  width: 100%;
  border: 1px solid $primary-color;
  color: $primary-color;
  border-radius: 10px 0px 0px 10px;
}

.custom-input:focus {
  background-color: $primary-color;
  color: $fill-color
}

.custom-button {
  background-color: #F5BB00;
  border: 1px solid $primary-color;
  font-weight: 500;
  color:#222222;
  font-size: 0.95rem;
  cursor: pointer;
  padding: 0px 7px;
  border-radius: 0px 10px 10px 0px;
}

.custom-button:hover {
  background-color: #ffe646;
}

.custom-input:focus {
  outline: none; /* Remove the default focus outline (not recommended for accessibility) */
}


// Dropdown navbar menu

a.dropdown-item {
  background-color:$fill-color;
  border-bottom:1px solid $primary-color;
  color:$primary-color;
}

.dropdown-menu {
  border-radius: 5px;
  background-color: $fill-color;
  padding: 0;
}

#navbarDropdown {
  color: $primary-color;
  font-weight: 500;

  :hover {
    color: $accent-color;
  }
}

a:hover.dropdown-item  {
  background-color:#474747;
  color: $accent-color;
}
